@import "../core";

.header {
  text-align: center;
  font-size: pxToRem(16);
  @include mq(sm) {
    font-size: pxToRem(21);
  }
}

.wrapper {
  padding: space(2);
  @include mq(sm) {
    padding: space(4);
  }
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.checkbox {
  width: calc(100% / 4);
  @include mq(sm) {
    width: 100px;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
