@import "../core";
.container {
  margin-bottom: space(10);
}
.title {
  text-align: center;
  padding: space(2);
  font-weight: bold;
  font-size: pxToRem(21);
  @include mq(sm) {
    margin: space(4);
    font-size: pxToRem(32);
  }
}
