.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;

    background-color: antiquewhite;
}
.list li{
    display: block;
    list-style: none;
    padding: 1rem;
}